/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.25;
  height: 100%;
  position: relative;
  padding-bottom: 1px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, 
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End Resets */


body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  background-color: #eef0f1;
}
h1 {
  font-size: 2rem;
}
.wrapper {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1;
  width: 100%;
}
header {
  padding: 1rem;
}
.logo {
  width: 14rem;
}
.nav {
  float: right;
}
.content {
  text-align: center;
}
.menu {
  height: 12rem;
  width: 76rem;
}
.menuContainer {
  overflow-x: scroll;
  position: relative;
}
.arrows {
  position: relative;
}
.arrows:before,
.arrows:after {
  content: '';
  width: 20px;
  height: 12rem;
  background-color: rebeccapurple;
  position: absolute;
  top: 0;
  z-index: 10;
}
.arrows:before {
  left: 0;
}
.arrows:after {
  right: 0;
}
input {
  visibility: hidden;
}
input:checked + label {
  border: 2px solid red;
}
.instrument-box {
  width: 10rem;
  display: inline-block;
  font-size: 1.25rem;
  padding: 1rem 0;
  text-align: center;
  cursor: pointer;
}
.svg {
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
}